/* .weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  Add more styles as needed */
  /* Weathercard.css */

.card {
    width: 300px;
    padding: 20px;
    background-color: #978e94;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    margin: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
  }
  
  .card h1 {
    font-size: 48px;
    margin-bottom: 15px;
  }
  
  .sky {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .sun {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffdb4d;
  }
  
  .cloud {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  
  .circle-small {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  .circle-tall {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  .circle-medium {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  .dot {
    margin: 0 5px;
    color: black;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  
  table td {
    padding: 5px;
  }
  
  table tr:first-child {
    font-weight: bold;
  }
  
  table tr:not(:first-child) td {
    font-size: 18px;
    color: black;
  }
  /* card move */



  
  /* Other CSS styles... */
  
  
 